#include "include/app/Resource.h"
#include <windows.h>

IDI_APPICON ICON "assets\\icon.ico"

IDR_FONT_SANS      RCDATA "third_party\\fonts\\Manrope-Regular.ttf"
IDR_FONT_MONO      RCDATA "third_party\\fonts\\JetBrainsMono-Regular.ttf"
IDR_FONT_MONO_BOLD RCDATA "third_party\\fonts\\JetBrainsMono-Bold.ttf"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Display Twin - PC Host"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "PenDisplayPC"
            VALUE "OriginalFilename", "DisplayTwin.exe"
            VALUE "ProductName", "Display Twin"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
